section {
    min-height: 550px;
    font-family: Arial, Helvetica, sans-serif;
}

#azul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0faff;
}

#azul h2 {
    color: #0ea5e9;
    border-left: 5px solid #0ea5e9;
    padding-left: 10px;
}

.card {
    background-color: #0ea5e9;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

#verde {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5f8e4;
}

#verde h2 {
    color: #1c9b5a;
    border-left: 5px solid #1c9b5a;
    padding-left: 10px;
}

#texto h3 {
    color: #1c9b5a;
}

#laranja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcf2dd;
}

#laranja h2 {

    color: #f7b708;
    border-left: 5px solid #f7b708;
    padding-left: 10px;
    text-align: center;
}

#caixa {
    text-align: center;
    background-color: white;
    width: 300px;
}

#caixa span {
    font-weight: bold;
}

#roxo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0e4f8;
}

#roxo h2 {
    color: #731c9b;
    border-left: 5px solid #731c9b;
    padding-left: 10px;
    text-align: center;
}

#imagem {
    background-image: url(cafe.jpg);
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 350px;
    border-radius: 10px;
}

#legenda {
    border-radius: 10px;
    width: 600px;
    background-color: #ffffff;
}

#legenda p {
    text-align: center;
}

#vermelho1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8e4e4;
    align-items: center;
}

#vermelho1 h2 {
    color: #a32014;
    border-left: 5px solid #a32014;
    padding-left: 10px;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 310px;
    height: 320px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;

}

.card1 {
    width: 270px;
    height: 70px;
    background-color: #f7f7f7;
    border-radius: 12px;
    padding: 15px 20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
}


#verdeA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e4f8ef;
    align-items: center;
}

#verdeA h2 {
    color: #14a37d;
    border-left: 5px solid #14a37d;
    padding-left: 10px;
    text-align: center;
}

.card2 {
    width: 270px;
    height: 70px;
    background-color: #14a37d;
    border-radius: 12px;
    padding: 1px 20px;
}

#container1 {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 360px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
}

.card2 h3 {
    color: white;
    text-align: center;
}

#cinza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dedada;
    align-items: center;
    gap: 10px;

}

#cinza h2 {
    color: gray;
    border-left: 5px solid gray;
    padding-left: 10px;
    text-align: center;
}
button{
     margin-right: 20px;
}
#cinzaA {
    background-color: gray;
    color: white;
    border-radius: 12px;
    padding: 15px 25px;
    border: none;
    cursor: pointer
}

#cinzaB {
    background-color: white;
    color: gray;
    border-radius: 12px;
    padding: 20px 30px;
    border: 2px solid gray;
    cursor: pointer;
}

#cinzaA:hover {
    background-color: white;
    color: gray;
    border: 2px solid gray;
}

#cinzaB:hover {
    background-color: gray;
    color: white;
}

#vermelho2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8e4e4;
    justify-content: center;
}

#vermelho2 h2 {
    color: #a32014;
    border-left: 5px solid #a32014;
    padding-left: 10px;
    text-align: center;
}

.card3 {
    display: inline-flex;
    width: 70px;
    height: 100px;
    background-color: #d37971;
    border-radius: 12px;
    padding: 15px 20px;
}

.card3 h3 {
    margin: 0;
    text-align: center;
}